.ml-11 {
    margin-left: 11px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-0 {
    margin-bottom: 0px;
}

.buttons {
    float: right;
    margin-top: 11px;
}

.button {
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    background-color: cyan;
}

.noToDo {
    margin-top: 25px;
    text-align: center;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 51.5px;
    background-color: yellow;
    border-radius: 30px;
    border: 2px solid lightgray;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgray;
    top: 1px;
    left: 1px;
    transition: all 0.5s;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox:checked+.toggle::after {
    left: 49px;
}

.checkbox:checked+.toggle {
    background-color: red;
}

.checkbox {
    display: none;
}